<h2 mat-dialog-title class="dialog-title">{{ data ? 'Edit Employee' : 'Add Employee' }}</h2>

<mat-dialog-content class="dialog-content">
  <mat-form-field>
    <input matInput placeholder="Name" [(ngModel)]="employee.name" required>
  </mat-form-field>

  <mat-form-field>
    <input matInput placeholder="Email" [(ngModel)]="employee.email" required>
  </mat-form-field>
</mat-dialog-content>

<mat-dialog-actions align="end" class="dialog-actions">
  <button mat-button mat-dialog-close class="dialog-button">Cancel</button>
  <button mat-button [mat-dialog-close]="employee" cdkFocusInitial class="dialog-button save-button">Save</button>
</mat-dialog-actions>
